html {

  font-size: 100%;
  color: #293264;

}

body {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  margin: 0;


}

.wrapper {
  background-color: #fff9e6;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #293264;
}

.main-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding:0 60px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

.form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.form-controls >label{
  font-weight: 600;
}

select {

  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  -webkit-appearance:none;
}

.select {
  display: grid;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  grid-template-areas: "select";
  align-items: center;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  position: relative;
  font-family: 'Karla', sans-serif;
 font-size: 1rem;
 height:100px;

}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #4D5C9D;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);

  justify-self: end;

}

select,
.select:after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #4D5C9D;
  border-radius: inherit;
}
.spinner-position {
  height: 100vh;
  display: flex;
  align-items: center;
}


.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0, 40px; */
}

.question-text>p {
  font-size: 1rem;
  font-weight: 600;
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.btn {
  background: #4D5B9E;
  padding: 20px 30px;
  border-radius: 20px;
  color: #F5F7FB;
  border: none
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 1px 3px black inset;
  }
  .button-alignment{
    padding:30px 0;
    width: 100%;
    display: flex;
    justify-content: center;

  }

  

/* loading spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 50px;
  height: 50px;
  border: 10px solid #293264;
  border-top: 10px solid pink;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.answer-container {
  display: flex;
  justify-content: center;
  border: black solid 1px;
  border-radius: 20px;
  padding: 0 5px;
  font-size: 0.8rem;
  word-wrap: break-word;
  min-width:300px; 
}

.answers-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.yellow-blob-intro {
  position: absolute;
  right: -100px;
  top: -200px;
  transform: rotate(-50deg);
  height: 300px;
  width: 300px;
  margin: auto
}

.blue-blob-intro {
  position: absolute;
  left: -150px;
  bottom: -200px;
  transform: rotate(-50deg);
  transform: scale(1);
  animation: pulse 8s infinite;
  height: 300px;
  width: 300px;
  margin: auto
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.95);
  }
}

@media screen and (min-width: 600px) {

  .questions {
    align-items: flex-start;
  }

 
  .question-text{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    padding: 10px 140px
}

  .question-text>p {
    font-size: 1.8rem;
  }

  .answer-container{
    justify-content: center;
    padding:0 20px;
    text-align: center;
    min-width: 70px;
    font-size: 1rem;
  }

  .answers-outer-container{
    flex-direction: row;
  }
  .button-alignment{
    padding:60px 0;

  }

  .display-score {
    display: flex;
    gap: 30px;
    font-weight: 600
  }
  .yellow-blob-intro {
   
    height: 400px;
    width: 400px;

  }
  
  .blue-blob-intro {

    height: 400px;
    width: 400px;
   
  }
 
}