html{
    font-size:100%;
    color:#293264;
}

body {
    display: grid;
    place-items: center;
    background-color: #F5F7FB;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    margin:0
    }
    
    .wrapper {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 10px;
    }
    
    h1 {
        color:#293264;
    }
    .main-screen{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding:0 60px
    
    }

    .main{
        width:100vw;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        align-items: center;
      
    }
    .questions{

        /* width:100vw; */
        /* height: 100vh; */
        display:flex; 
        flex-direction: column;
        justify-content: center;
      align-items: center;
  
        
     

      

    }

    .question-text > p{
        /* font-family: 'Karla', sans-serif; */
        font-size: 1rem;
        font-weight:600;
       
    }
    .question-text{
        display:flex; 
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* border:1px solid red; */
        padding:10px 20px
    }

    .btn{
        background: #4D5B9E;
        padding:20px 30px;
        border-radius: 20px;
        color:#F5F7FB;
        border:none
    }

/* loading spinner */

    @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .loading-spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 50px;
        height: 50px;
        border: 10px solid #293264;
        border-top: 10px solid pink; 
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
      }
      
      .spinner-container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 350px;
      }


      .answer-container{
        border:black solid 1px;
        border-radius:20px;
        /* padding:5px 20px */
   

      }

      .answers-outer-container{
        display:flex;
        gap:20px
        
      }

      .button-alignment{
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
        height:200px;

      }

      @media screen and (min-width: 600px)  {

        .questions{
            display: flex;
            align-items: flex-start;
           

        }
        .question-text{
          
            padding:10px 60px
        }


    .question-text > p{
        /* font-family: 'Karla', sans-serif; */
        font-size: 1.8rem;
        font-weight:600;
       
    }

    .answer-container{
        border:black solid 1px;
        border-radius:20px;
        padding:0 20px
   

      }
      }
     

     